@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* color: black; */
  margin: 0;
  padding: 0;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}
/* Beige #DDC3A5, Black-brown #201E20, Tan #E0A96D */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
